body {
    background-color: #E0CED1; 
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #514773;
}

table {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #7D1818;
    margin: 1px; padding: 1px;
    width: 100%;
    table-layout: fixed;
}

th, td {
    border-bottom: 1px solid #6E6464;
    text-align: center;
}

input {
    width: 25%;
    padding: 16px 32px;  
    border: 2px solid #332A53;
    border-radius: 4px;
    font-size: 85%;
}

button {
    background-color: #332A53;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px
}

button:hover {
    background-color: #605682;
}